<div class="contenedor-padre">
    <mat-toolbar class="barra" color="primary">
        <button (click)="cajon.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Restaurante</span>
        <span class="example-spacer"></span>
        <button mat-button style="margin: 5%;" routerLink="/dashboard">Pedidos</button>
        <button mat-button style="margin: 5%;" routerLink="/dashboard/domicilios">Domicilios</button>
        <button mat-button style="margin: 5%;" routerLink="/dashboard/reportes">Gastos</button>
        <button mat-button style="margin: 5%;" routerLink="/dashboard/reportes">Creditos</button>
        <span class="example-spacer"></span>
        <button routerLink="/login"(click)="logout()" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="contenido">
        <mat-sidenav style="min-width: 300px;" #cajon mode="side" closed>
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard/carta">
                    <span class="material-symbols-outlined">
                        menu_book_2
                    </span>
                    Ver Carta
                </a>
                <a mat-list-item routerLink="/dashboard/mesero">
                    <span class="material-symbols-outlined">
                        hand_meal
                    </span>
                    Ver Meseros
                </a>
                <a mat-list-item routerLink="/dashboard/tipo">
                    <span class="material-symbols-outlined">
                        payment_arrow_down
                    </span>
                    Ver Medios de Pago
                </a>
                <a mat-list-item routerLink="/dashboard/pedidos">
                    <span class="material-symbols-outlined">
                        list_alt_check
                    </span>
                    Ver Pedidos
                </a>
            </mat-nav-list>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Más
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-nav-list>
                        <a mat-list-item routerLink="/dashboard/estadisticas">
                            <mat-icon color="red">calculate</mat-icon>
                            Estadisticas
                        </a>
                        <a mat-list-item href='#'>
                            <span class="material-symbols-outlined">
                                help
                            </span>
                            Ayuda
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>