
  .tool{
    position: fixed;
    
  }
  
.contenedor-padre {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.barra {
  width: 100%;
  margin: auto;
  padding: 1rem;
  overflow-x: auto;
}

.contenido {
  flex: 1 1 auto;
}

.padding-10 {
  padding: 10px;
}
