<div class="container">
  <mat-toolbar>
    <span>Estadisticas</span>
    <div class="example-spacer"> </div>
  </mat-toolbar>

  <div class="dashboard">

    <!-- KPI CARDS -->
    <div class="kpi-container">
      <mat-card class="kpi">
        <mat-icon>attach_money</mat-icon>
        <div>
          <h2>$350.000</h2>
          <p>Ventas hoy</p>
        </div>
      </mat-card>

      <mat-card class="kpi">
        <mat-icon>receipt_long</mat-icon>
        <div>
          <h2>48</h2>
          <p>Pedidos</p>
        </div>
      </mat-card>

      <mat-card class="kpi">
        <mat-icon>restaurant</mat-icon>
        <div>
          <h2>Hamburguesa</h2>
          <p>Plato top</p>
        </div>
      </mat-card>

      <mat-card class="kpi">
        <mat-icon>delivery_dining</mat-icon>
        <div>
          <h2>16</h2>
          <p>Domicilios</p>
        </div>
      </mat-card>
    </div>

    <!-- GRÁFICA PRINCIPAL -->
    <mat-card class="chart-card">
      <h3>Ventas de la semana</h3>
      <canvas id="ventasChart"></canvas>
    </mat-card>

    <!-- GRÁFICAS SECUNDARIAS -->
    <div class="charts-row">
      <mat-card class="chart-card">
        <h3>Platos más vendidos</h3>
        <canvas id="platosChart"></canvas>
      </mat-card>

      <mat-card class="chart-card">
        <h3>Horas pico</h3>
        <p>12:00 PM – 2:00 PM</p>
        <p>7:00 PM – 9:00 PM</p>
      </mat-card>
    </div>

  </div>

</div>